<% layout('layouts/boilerplate') %><!-- bta raha hun kha se utha raha layouts ko -->
<%- include('./partials/navbar.ejs') %>
 <div class="alert alert-danger" role="alert">  
     <%= err %>
 </div>
</body>
</html>